In [1]:
import csv
import pandas as pd

In [2]:
df=pd.read_csv("haha_2021_train.csv")
df.shape

(24000, 12)

In [3]:
df.head()

,id,text,is_humor,votes_no,votes_1,votes_2,votes_3,votes_4,votes_5,humor_rating,humor_mechanism,humor_target
0,tweet1,Niveles de retraso mental: \n\n— Bajo.\n— Medi...,1,1,2,2,0,0,0,1.5,NaN,NaN
1,tweet2,"—Vamos Luke desenfunda tu sable, demuestra tu ...",1,1,3,0,1,0,0,1.5,NaN,NaN
2,tweet3,"- ¿Te ofrezco algo?, ¿Agua, café, mi corazón, ...",1,0,2,1,0,1,1,2.6,NaN,NaN
3,tweet4,No se porqué me hago la cabeza deooos,0,3,0,0,0,0,0,NaN,NaN,NaN
4,tweet5,Quisiera saber que hago durante la siesta de l...,0,4,0,1,0,0,0,NaN,NaN,NaN

In [14]:
task3_text=[]
count=0
task3_humor_rating=[]
for _,i in df.iterrows():
    if(i['humor_mechanism']!="NaN"):
        count+=1
count

24000

In [10]:
len(task2_text)

9253

In [11]:
len(task2_humor_rating)

9253

In [5]:
df.to_csv("tas2.csv")

In [6]:
df.shape

(24000, 12)

In [12]:
import csv
arr=[]
arr= tuple(zip(task2_text,task2_humor_rating))
# writing to csv file 
with open('task2.csv', 'w') as csvfile: 
    # creating a csv writer object 
    csvwriter = csv.writer(csvfile) 
    fields = ["text","is_humor"]
    # writing the fields 
    csvwriter.writerow(fields) 
        
    # writing the data rows 
    csvwriter.writerows(arr)